.DS_Store
Thumbs.db

.vscode/
.idea/
*.userprefs

Library/
Temp/
Obj/
Logs/
MemoryCaptures/
UserSettings/

*.pidb
*.sln
*.user
*.userprefs
*.csproj
*.unityproj
*.tmp
*.svd

Build/
Builds/
*.apk
*.aab
*.ipa
*.exe
*.app
*.xcodeproj
*.xcworkspace

UnityPackageManager/
Packages/com.unity.package-manager-ui/

*.stacktrace

.vs/

Assets/AddressableAssetsData/*
!Assets/AddressableAssetsData/**/*.asset
!Assets/AddressableAssetsData/**/*.json

Library/ShaderCache/
Library/GI/

.collabignore